html{
    font-size: 24px;
    scroll-behavior: smooth;
    ::-webkit-scrollbar{
        width: 10px;   
    };
    ::-webkit-scrollbar-thumb {
        background: #586c59; 
        border-radius: 10px;
        transition: 1s;
    }; 
    ::-webkit-scrollbar{
        scroll-behavior: smooth;
    }
}

body{
    width: 100%;
    margin: 0;
    height: 100%;
    background: linear-gradient(rgba(243, 211, 169, 0.479),rgba(3, 37, 228, 0)), url(pics/bg.jpg    );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container-flow{
    margin: 1rem 3rem;
    .header{
        height: 25%;
        .drop{
            display: none;
        }

        .logo{
            float: left;
            
            .img{
                width: 45%;
            }
        };
        .menu{
            
            float: left;
            display: contents;
            
            ul{
                display: flex;
                gap: 2rem;
                justify-content: flex-end;
                li{
                    list-style: none;
                    a{
                        text-decoration: none;
                        color: #586c59;
                        font-weight: bolder;
                        text-transform: capitalize;
                        font-family: "Oxanium", serif;
                        font-optical-sizing: auto;
                        font-style: oblique;
                    }
                }
            }
        };

    };
    .main{
        .part1{
            p{
                font-size: 4rem;
                font-family: "Cookie", cursive;
                font-weight: 600;
                font-style: normal;
                color: #586c59;
                text-transform: capitalize;
                margin: 0;
                margin-top: 10rem;
                text-align: center;
            }
        };
        .part2{
            p{
                font-size: 1.3rem;
                font-family: "Funnel Display", sans-serif;
                font-optical-sizing: auto;
                font-weight: 600;
                font-style: normal;
                color: #925040;
                margin: 0;
                text-align: center;
            }
        }
    };
    .main2{
        padding-top: 6rem;
        h2{
            margin: 0;
            text-transform: capitalize;
            font-family: "Pacifico", cursive;
            font-weight: 400;
            font-style: normal;
            color: #ff0073
        };
        .row1{
            .content1{
                flex-wrap: wrap;
                height: 55rem;
                display: flex;
                justify-content: center;
                gap: 2rem;
                .card{
                    transition: 1s;
                    border-radius: 0.5rem;
                    overflow: hidden;
                    margin-top: 1rem;
                    float: left;
                    padding-top: 1rem;
                    width: 10rem;
                    height: 16rem;
                    .card-img-top{
                        width: 10rem;
                        height: 10rem;
                        float :left;
                    };
                    .card-title{
                        padding: 0 1rem;
                        padding-top: 1rem;
                        text-transform: capitalize;
                        font-size: 1rem;
                        margin : 0;
    
                    };
                    .card-body{
                        height: 4rem;
                        padding: 1rem 1rem;
                        float:left;
                    };
                    .card-text{
                        display: none;
                    };
                    
                }
            };
            #card-txt{
                padding: 0 0.7rem;
                padding-top: 1rem;
                text-transform: capitalize;
                font-size: 0.9rem;
                margin : 0;
            }
            .card:hover{
                transform: scalex(1.2)scaleY(1.1);
                height: 20rem;
                overflow: hide;
                z-index: 3;
                .card-body{
                    overflow: auto;
                    height: 10rem;
                    .card-title{
                        font-size: 0.8rem;
                    }
                    .card-text{
                        display: block;
                        font-size: 0.7rem;
                        
                    }
                }
                ::-webkit-scrollbar{
                    width: 10px;   
                };
                ::-webkit-scrollbar-thumb {
                    background: #925040; 
                    border-radius: 10px;
                    transition: 1s;
                }
                
            };
            
        };
        
    };
    .main3{
        margin-top: 5rem;
        .text2{
            text-align: center;
            text-transform: capitalize;
            color: #925040;
            font-family: "Pacifico", cursive;
            font-weight: 400;
            font-style: normal;
        };
        .cont{
           padding: 0px 13.5rem;
            
            label{
                font-family: "Orbitron", sans-serif;
                font-optical-sizing: auto;
                font-weight: 400;
                font-style: normal;
                text-transform: capitalize;
                margin-top : 1rem;
                margin-bottom: 0;
            }
            .input{
                width: 23rem;
                border: 2px solid rgba(146, 80, 64, 0.575) ;
                border-radius: 18px;
                padding: 0 1rem;
                background: rgba(146, 80, 64, 0.575);
            };
            input:focus,input:valid{
                
                font-size: 1rem;
                font-weight: 500;
                color: white;
                border: 1px solid rgb(146, 80, 64,0.575) ;
            };
            textarea{
                padding: 0 1rem;
                border-radius: 18px;
                width: 23rem;
                height: 7rem;
                background: rgba(146, 80, 64, 0.575);
                margin: 0;
            }
            textarea:focus,.textarea:valid{
                font-size: 1rem;
                font-weight: 500;
                color: white;
                border: 1px solid rgb(146, 80, 64,0.575) ;
                padding: 0;
                overflow: auto;
            }
            .submit{
                margin: 1rem 10rem;
                font-family: "Silkscreen", sans-serif;
                font-weight: 400;
                font-style: normal;
                border: #586c59;
                border-radius: 1rem;
                padding: 0.3rem;
                background: #586c59;
            };
            .submit:hover{
                background: #000000;
                color: white;
                cursor: pointer;
            }
            .error{
                font-size: 16px;
                margin: 0;
                color: #ff0000c7;
                font-family: cursive;
            };
            

        }
    };
    ::placeholder{
        color: #646866;
    };
    
}